<table class="table table-striped">
  <thead>
    <tr>
      <th>Address</th>
      <th>Rent price</th>
      <th>AirBnB earning</th>
      <th>Profit</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @appartments %>
  </tbody>
</table>